Connected Services/E_CommerceServiceReference/ServiceE_Commerce.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceE_Commerce" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServiceE_Commerce/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/ServiceE_Commerce/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceE_Commerce_Connection_InputMessage">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="IServiceE_Commerce_Connection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceE_Commerce_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceE_Commerce_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceE_Commerce_saluto_InputMessage">
    <wsdl:part name="parameters" element="tns:saluto" />
  </wsdl:message>
  <wsdl:message name="IServiceE_Commerce_saluto_OutputMessage">
    <wsdl:part name="parameters" element="tns:salutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceE_Commerce">
    <wsdl:operation name="Connection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceE_Commerce/Connection" message="tns:IServiceE_Commerce_Connection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceE_Commerce/ConnectionResponse" message="tns:IServiceE_Commerce_Connection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceE_Commerce/DoWork" message="tns:IServiceE_Commerce_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceE_Commerce/DoWorkResponse" message="tns:IServiceE_Commerce_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saluto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceE_Commerce/saluto" message="tns:IServiceE_Commerce_saluto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceE_Commerce/salutoResponse" message="tns:IServiceE_Commerce_saluto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceE_Commerce" type="tns:IServiceE_Commerce">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connection">
      <soap:operation soapAction="http://tempuri.org/IServiceE_Commerce/Connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceE_Commerce/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saluto">
      <soap:operation soapAction="http://tempuri.org/IServiceE_Commerce/saluto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceE_Commerce">
    <wsdl:port name="BasicHttpBinding_IServiceE_Commerce" binding="tns:BasicHttpBinding_IServiceE_Commerce">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServer/ServiceE_Commerce/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>